<div class="spacer s0"></div>
<div id="parallax1" class="parallaxParent">
	<div style="background-image: url(../../img/example_parallax_bg1.png);"></div>
</div>
<div class="spacer s1">
	<div class="box2 blue">
		<p>Content 1</p>
		<a href="#" class="viewsource">view source</a>
	</div>
</div>
<div class="spacer s0"></div>
<div id="parallax2" class="parallaxParent">
	<div style="background-image: url(../../img/example_parallax_bg2.png);"></div>
</div>
<div class="spacer s1">
	<div class="box2 blue">
		<p>Content 2</p>
		<a href="#" class="viewsource">view source</a>
	</div>
</div>
<div class="spacer s0"></div>
<div id="parallax3" class="parallaxParent">
	<div style="background-image: url(../../img/example_parallax_bg3.png);"></div>
</div>
<div class="spacer s2"></div>
